/*  your css code here. If applicable */
img{
    width:300px;
    margin-bottom: 10px;
}
h1{
    font-size: 40px;
}

*{
    margin:0;
    
}
.container{
    background-color: lightblue;
    padding:30px;
    display: inline-block;
    justify-content: center;
    align-items: center;

}

p{
    width:180px;
    margin:10px 0;
    font-size:25px;
    text-align: center;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    padding:15px 30px;
    background-color: pink;
    border-radius: 20px;
}
